<div id="files" class="tab-pane in active profile_tab">
  <div class="row">
    <% if @isProfileOwner %>
      <%= render 'resources/resource_new', :new_resource_path => new_document_path %>
    <%end%>
    <% @files.each do |file| %>
      <%= render 'resources/resource', :resource => file %>
    <% end %>
  </div>
</div>