<div id="presentations" class="tab-pane in active profile_tab">
  <div class="row">
    <% if @isProfileOwner %>
      <%= render 'presentations/presentation_new' %>
    <%end%>
    <% @presentations.each do |presentation| %>
      <%= render 'presentations/presentation', :presentation => presentation %>
    <% end %>
  </div>
</div>