#footer{
	text-align: center;
	display: inline-block;
}
#footer > div{
	display: inline-block;
}
#footer div.col1 {
	float: left;
}
#footer div.col2, #footer div.col3 {
	float: right;
}
#footer div.col1 img {
	height: 52px;
	margin-top: 4px;
}
#footer div.footer_dropdown img {
	width: 23px;
	margin-right: 10px;
	margin-bottom: 1px;
}
#footer div.footer_dropdown {
	margin-top: 5px;
}

#footer div.col3 div.footer_dropdown {
	margin-top: 8px;
}

#footer div.footer_dropdown button.dropdown-toggle > div {
	display: inline-block;
	margin-top: 3px;
}
#footer div.footer_dropdown ul {
	color: black;
	right: 0;
    left: auto;
}
#footer div.footer_dropdown ul li {
	cursor: pointer;
}
#footer div.footer_dropdown ul li:hover {
	background-color: #e8e8e8;
}
#footer div.footer_dropdown ul img {
	margin-left: 10px;
}
#footer div.footer_dropdown button {
	padding-top: 3px;
	margin-top: 7px;
	border: none;
	box-shadow: none;
	font-weight: normal;
	font-size: 1.3em;
	color: white;
	background: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: none;
	margin-left: 20px;
	margin-right: 10px;
}
#footer div.footer_dropdown span.glyphicon{
	margin-right: 15px;
}

#footer div.col4 {
	height: 100%;
	float: right;
	margin-right: 10px;
}

#footer ul.policies {
	height: 100%;
	display: flex;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.1em;
}

#footer ul.policies li {
	display: flex;
	align-items: center;
	flex-direction: row;
}

#footer ul.policies li span {
	margin: 0px 0px 0px 10px;
}

@media (max-width: 900px) {
	#footer ul.policies {
		flex-direction: column;
		font-size: 1em;
		margin-top: 4px;
	}
	#footer ul.policies li {
		flex-direction: column;
	}
	#footer ul.policies li span {
		display: none;
	}
}

@media (max-width: 600px) {
	#footer div.footer_dropdown button {
		margin-left: 5px;
		margin-right: 5px;
	}
	#footer ul.policies {
		font-size: 0.9em;
	}
}

@media (max-width: 460px) {
	#footer div.col3 {
		display: none;
	}
}