#footer li.language {
	text-decoration: none;
	list-style-type:none;
	cursor: pointer;
}

#footer li.language img {
	width: 23px;
	margin-right: 10px;
	margin-bottom: 1px;
}

#footer li.language button.dropdown-toggle > div {
	display: inline-block;
	margin-top: 3px;
}


#footer li.language ul {
	color: black;
}

#footer li.language ul img {
	margin-left: 10px;
}

#footer li.language button {
	padding-top: 3px;
	margin-top: 7px;
	border: 1px solid white;
	font-weight: normal;
	font-size: 1.3em;
	color: white;
	background: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: none;
}