div.frontpage_row1 {
	margin-top: 60px;
}

div.frontpage_row1 div.col1 {
	text-align: left;
	padding: 50px 0;
	text-align: center;
}

div.frontpage_row1 div.col1 p{
	font-size: 1.4em;
	color: #ccc;
}

div.frontpage_row1 div.col1 p.title{
	font-size: 4em;
	font-weight: bold;
	color: white;
	text-shadow: 1px 2px #0B0B3B;
	margin-bottom: 20px;
}

div.frontpage_row1 div.col1 p.description_2 {
	font-size: 2.5em;
	font-weight: bold;
	color: white;
	margin-bottom: 20px;
}

div.frontpage_row1 div.col1 p.description {
	font-size: 1.5em;
	margin: 0 10%;
	margin-bottom: 40px;
}

div.frontpage_row1 div.col1 p a {
	text-decoration: none;
}

div.frontpage_row1 div.col2 {
	text-align: center;
}

div.frontpage_row1 div.col2 video {
	width: 100%;
	border: 3px solid white;
	margin-top: 50px;
	cursor: pointer;
}

div.frontpage_row3 {
    margin: 105px 0 70px 0;
	text-align: center;
	font-size: 1.4em;
}

div.frontpage_row3 div.b_color {
	background-color: #2f7fca;
	border-radius: 10px;
	padding: 0;
}

div.frontpage_row3 div.b_color div.col-md-4 {
	padding: 40px 0;
}

div.frontpage_row3 div.b_color div.col-md-4.col3_line {
	padding-right: 20px;
	border-right: none;
	border-bottom: 6px solid #046598;
}

div.frontpage_row1, div.frontpage_row2, div.frontpage_row3, div.frontpage_row4, div.frontpage_row5 {
	padding-left: 8%;
	padding-right: 8%;
	background-color: #046598;
}

div.frontpage_row3 p{
	text-align: center;
}

div.frontpage_row3 img.icon {
	margin-bottom: 4px;
	max-height: 120px;
	max-width: 120px;
}

div.frontpage_row3 img.icon.gamepad {
    padding-top: 30px;
}

div.frontpage_row3 p.text_title, p.text_icon, div.frontpage_row3 p.text_title_glyphicon {
	font-size: 1.3em;
	margin-left: 17px;
}

div.frontpage_row3 p.text_title {
	font-size: 1.3em;
	font-weight: bold;
}

div.frontpage_row3 p.text_title.title2 {
    padding-top: 21px;
}

div.frontpage_row3 p.text_description {
	font-size: 1.1em;
	margin-left: 50px;
	margin-right: 45px;
	margin-top: 20px;
	color: white;
}

div.frontpage_row3 p.text_description.description_1, div.frontpage_row3 p.text_description.description_2 {
	padding-bottom: 20px;
}

div.frontpage_row4 div.col4 {
	margin-top: 45px;
}

div.frontpage_row4 div.col4_title > p.title {
	margin-top: -36px;
	font-size: 2.4em;
	text-align: center;
	font-weight: bold;
}

div.row.frontpage_row5 div.games_grid {
	text-align: center;
	margin-top: 35px;
}

div.games_grid div.item_box {
	float: none;
	height: 210px;
	width: 224px;
    border-radius: 10px;
    display: inline-block;
    margin: 11px 11px 11px 11px;
    float: none;
    overflow: hidden;
}

div.games_grid div.item_box div.item_icon {
	display: none;
}

div.games_grid div.item_box div.item_title {
	height: 56px;
	font-weight: bold;
}

@media (min-width: 992px) {
	div.frontpage_row3 div.b_color {
		max-height: 431px;
	}
	div.frontpage_row3 p.text_description.description_1 {
		padding-bottom: 55px;
	}
	div.frontpage_row3 p.text_description.description_2 {
		padding-bottom: 80px;
	}
	div.frontpage_row3 div.b_color div.col-md-4.col3_line {
		border-right: 6px solid #046598;
		border-bottom: none;
	}
	div.frontpage_row4 div.col4_line {
		border-bottom: 3px solid white;
		border-radius: 5px;
	}
}