#header {
	padding-top: 10px;
	display: inline-block;
	color: white;
	border-bottom: 1px solid white;
}

#sgame_logo_wrapper {
	display: inline-block;
	float: left;
}

#sgame_logo_wrapper img {
	height: 55px;
}

#buttons_header {
	display: inline-block;
	float: right;
	height: 100%;
	margin-right: 5px;
	margin-top: 5px;
}

#buttons_header div {
	display: inline-block;
}

#header_plus_wrapper{
	float: left;
	margin-left: 10px;
}
#header_profile{
	float: right;
}

#buttons_header button {
	min-height: 40px;
	max-height: 40px;
}

#header_plus_wrapper button {
	font-weight: bold;
	font-size: 1.6em;
	min-width: 40px;
    margin-right: 10px;
}

#header_profile ul {
	border: none;
	border-top: 3px solid white;
	border-radius: 0px;
	margin-top: 4px;
}

#header_profile button {
	padding-top: 3px;
	font-weight: bold;
	font-size: 1.4em;
	min-width: 100px;
    text-align: center;
}

#arrow-up-header-profile {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px;
	border-width: 0px 6px 7px 6px;
	border-color: white transparent;
	position: absolute;
	top: -9px;
	left: 112px;
}