#sgame_notifications{
	margin-top: 20px;
}

div.alert-success{
	background-image: -webkit-linear-gradient(left, #000000 0%, #4e4e4e 100%);
	border-color: white;
	color: white;
	border-size: 3px;
	font-size: 1.2em;
}

div.alert-danger {
	color: black;
	font-size: 1.2em;
	border-size: 3px;
	border-color: black;
}