section.resource_wrapper_picture {

}
section.resource_wrapper_picture .resource_content_wrapper {
	text-align: center;
	background-color: #eee;
	padding: 25px;
}

section.resource_wrapper_picture .resource_content_wrapper img {
	max-height: 600px;
	max-width: 100%;
}

