#ve_wrapper {
	text-align: center;
}
#ve_iframe {
	border: 2px solid white !important;
}
#ve_tools_wrapper {
	width: 1200px;
	margin: auto;
	margin-top: 10px;
	padding: 0px;
	text-align: right;
}

#ve_wrapper button span.glyphicon-trash {
	margin-right: 6px;
}