<div id="data_warning_wrapper">
	<div id="data_warning">
		<div id="data_warning_row1">
			<%=t("policies.cookie_notice.content").html_safe%>
		</div>
		<div id="data_warning_row2">
			<button class="cookie_notice_button" id="cookie_accept_button"><%=t("policies.cookie_notice.accept")%></button>
			<button class="cookie_notice_button" id="cookie_reject_button"><%=t("policies.cookie_notice.reject")%></button>
		</div>
	</div>
</div>

<script type="text/javascript">
	function setCookie(name, value, days) {
		const date = new Date();
		date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
		const expires = "expires=" + date.toUTCString();
		document.cookie = name + "=" + value + ";" + expires + ";path=/;SameSite=Lax";
	}
	function getCookie(name) {
		const cookies = document.cookie.split("; ");
		for (let i = 0; i < cookies.length; i++) {
			const [key, value] = cookies[i].split("=");
			if (key === name) {
				return value;
			}
		}
		return null;
	}

	var showWarning = function(redirectURL){
		$("#cookie_accept_button").click(function(){
			setCookie("cookie_accepted", "true", 365);
			$("#data_warning_wrapper").hide();
			if(typeof window.redirectURLFromCookiesRequired === "string"){
				window.location.href = window.redirectURLFromCookiesRequired;
			}
		});

		$("#cookie_reject_button").click(function(){
			setCookie("cookie_accepted", "false", 365);
			$("#data_warning_wrapper").hide();
		});

		$("#data_warning_wrapper").show();
	}

	const cookieAccepted = getCookie("cookie_accepted");
	if (cookieAccepted === null) {
		showWarning();
	}
</script>