<div id="sgame-logo">
	<a href="/"><img src="/assets/sgame_logo.png" alt="SGAME" class="logo"/></a>
</div>
<div class="button-primary" id="register">
	<a href="/users/sign_in">Login</a>
	<a href="/users/sign_up">Register</a>
</div>